header {
    background-color: #F0F0F0;
    margin-bottom: 1em;
    width: 100%;
    color: #0F0F0F;
    font-family: 'Corporate Logo ver2'
  }

h1 {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #F0F0F0;
   color: #0F0F0F;
   font-family: "Corporate Logo ver2";
   margin: 0;
   padding: 25% 0.25em 30%;
   text-align: center;
}